<section class="article-edit">
  <article>
    <header class="article-edit__heaedr">
      <h1 class="article-edit__header__title">
        {{model.id}}
      </h1>
      <nav class="article-edit__header__controls">
        <button class="article-edit__header__controls__save" {{action 'save'}}>Save</button>
        <button class="article-edit__header__controls__delete" {{action 'delete'}}>Delete</button>
      </nav>
    </header>
    <section class="article-edit__body">
      {{article-edit model=model store=store}}
    </section>
  </article>
</section>
