<header class="admin__heading">
  <h1>Articles</h1>
  {{#link-to 'admin.articles.new' class="admin-article-list__new"}}
    <button class="admin__actions">New Article</button>
  {{/link-to}}
</header>
{{#each model as |article|}}
  <section class="article__excerpt">
    <h1 class="article__excerpt__title">{{#link-to 'admin.articles.edit' article class="article__excerpt--edit"}}{{article.id}}{{/link-to}}</h1>
    <p class="article__excerpt__actions">Updated at 10AM |{{#link-to 'admin.articles.edit' article}}Edit{{/link-to}}|<a>Delete</a></p>
 </section>
{{/each}}

