.admin-article-list {
  order: 1;
  flex-basis: 20%;

  li {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }

  &__new {
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
    display: block;
  }

  &__link {
    border-bottom: $accent-color 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      color: $body-color;
    }
  }

  &__heading {
    margin: 2rem;
    text-align: center;

  }
}
