@import 'colors';
@import 'layout';

@import 'article-excerpt';
@import 'article';

@import 'admin';
@import 'admin-article-list';
@import 'admin-article';

// Use this to do some css debugging
// * {
//   border: 1px solid red !important;
// }

.loader {
  position: relative;
  margin: 4rem auto;
  max-width: 50%;
  text-align: center;
}

body {
  font-family: 'CabinRegular';
  color: $body-color;
  margin: 3px;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: $brand-color;
}

a::selection {
  color: $body-color;
  background-color: $brand-color;
}

a {
  color: $link-color;

  &:hover {
    color: darken( $link-color, 30% );
  }
}
