// * {
//   border: 1px solid red !important;
// }

.article {
  position: relative;
  margin: 4rem auto;
  max-width: 70%;
}

.footer {
  position: relative;
  margin: 4rem auto 0px auto;
  max-width: 70%;
  height: 100%;
}

.footer__slogan {
  display: inline-block;
}

.footer__slogan__logo {
  vertical-align: middle;
  margin-left: -25px;
  margin-top: 8px;
}

.loader {
  position: relative;
  margin: 4rem auto;
  max-width: 50%;
  text-align: center;
}
