.article-edit {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    flex-direction: column;

    &__title {
      order: 1;
      font-size: 2.5rem;
    }

    &__controls {
      order: 2;
      text-align: left;
      margin-top: -3.5rem;
      margin-bottom: 3rem;
    }
  }

  &__body {
    order: 2;
    display: flex;
    flex-direction: row;
    height: 50vh;

    &__input {
      order: 1;
      flex-basis: 50%;
      font-family: 'FantasqueSansMonoRegular';
      font-size: 1rem;
      border: none;
      resize: none;
      margin: 16px 1rem;
      border-right: 1px solid $accent-color;

      &:active {
        outline:0px !important;
      }

      &:focus {
        outline:0px !important;
      }

      &:hover {
        outline:0px !important;
      }
    }

    &__preview {
      order: 3;
      flex-basis: 50%;
      font-size: 1rem;
      overflow: auto;
      margin: auto 1rem;
      overflow-y: scroll;
      height: 100%;

      h1 {
        font-size: 2rem;
        margin: 1rem auto;
      }
      h2 {
        font-size: 1.8rem;
        margin: 1rem auto;
      }
      h3 {
        font-size: 1.6rem;
        margin: 1rem auto;
      }
      h4 {
        font-size: 1.4rem;
        margin: 1rem auto;
      }
      h5 {
        font-size: 1.2rem;
        margin: 1rem auto;
      }
      h6 {
        font-size: 1rem;
        text-decoration: bold;
        margin: 1rem auto;
      }
    }

  }


}
