.articles {
  &__new {
    background-color: @brand-success;
    color: white;
  }
}

.article {
  &__title {
    color: @gray-darker;
  }

  &__body {
    padding: 2em 0;
    margin-bottom: 10em;
  }
}

.article-edit {
  &__body {
    height: auto;
    max-width: 100%;
  }
}
