.article {
  &__title {
    color: $brand-color;
    font-size: $txt-large;
  }
  &__excerpt {
    margin-top: 5rem;
    &__blurp, &__actions {
      @include separator-bottom();
    }
    &__read-more {
      color: $brand-color;
    }
  }
}
