.article-edit {
  display: flex;
  flex-direction: column;

  &__title {
    order: 1;
    font-size: 2.5rem;
    text-align: center;
  }

  &__body {
    order: 2;
    display: flex;
    flex-direction: row;
    max-height: 50vh;

    &__input {
      order: 1;
      flex-basis: 50%;
      font-family: 'FantasqueSansMonoRegular';
      font-size: 1rem;
      border: none;
      resize: none;
    }

    &__preview {
      order: 2;
      flex-basis: 50%;
      font-size: 1rem;
      overflow: auto;

      h1 {
        font-size: 2rem;
      }
    }

  }

  &__controls {
    order: 3;
    text-align: center;
  }

}
