.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .header {
    order: 1;
    align-self: flex-start;
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-image: url('images/banner.png');

  }

  .content {
    order: 2;
    align-self: center;
    display: flex;
    width: 100%;
    flex-grow: 1;
  }

  .footer {
    order: 3;
    margin: 8px;
    align-self: center;


    &__slogan {
      display: inline-block;

      &__logo {
        vertical-align: middle;
        margin-left: -25px;
        margin-top: 8px;
      }
    }

  }
}
