.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .content {
    order: 1;
  }

  .footer {
    order: 2;
    margin: 8px;
    align-self: center;


    &__slogan {
      display: inline-block;

      &__logo {
        vertical-align: middle;
        margin-left: -25px;
        margin-top: 8px;
      }
    }

  }
}
