<div class="container">
  <section class="section">
    <h1>Welcome to Adlet</h1>
    <h2>Sign In</h2>
    <p>
      {{input placeholder='Access Key ID' value=accessKeyId class="form-control login__access-key-id"}}
    </p>
    <p>
      {{input placeholder='Secret Access Key' value=secretAccessKey class="form-control login__secret-access-key"}}
    </p>
    <button class="btn btn-primary pull-right login__button" {{action 'login'}}>Sign In</button>
  </section>
</div>
