<div>
  <h1>Articles
    <small class="pull-right">
    {{#link-to 'admin.articles.new'}}
      <button class="btn btn-success pull-right">New Article</button>
    {{/link-to}}
    </small>
  </h1>
  <div>
    Please select an article.
  </div>
</div>
