<section class="admin">

  <section class="admin-article-list">
    <header class="admin-article-list__heading">
      <h3>Articles</h3>
    </header>
    {{#link-to 'admin.articles.new' class="admin-article-list__new"}}
      New Article
    {{/link-to}}
    <div class="admin-article-list">
      {{#each model as |article|}}
        <li class="admin-article-list__link {{ if article.isEditing "admin-article-list__link--editing" }}" >
          {{#link-to 'admin.articles.edit' article  }}
            {{ article.id }}
          {{/link-to}}
        </li>
      {{/each}}
    </div>
  </section>

  <section class="admin-article">
    {{outlet}}
  </section>
</section>
