<div class="col-md-2">
  <ul class="list-group articles-menu">
    {{#link-to 'admin.articles.new' tagName='li' class="list-group-item articles__new"}}
      New Article
    {{/link-to}}

    <div class="admin-article-list">
      {{#each model as |article|}}
        {{#link-to 'admin.articles.edit' article tagName='li' class="admin-article__link" }}
          {{ article.id }}
        {{/link-to}}
      {{/each}}
    </div>
  </ul>
</div>

<div class="col-md-10">
  {{outlet}}
</div>
