<section class="admin">

  <section class="admin-article-list">
    <header>Articles</header>
    {{#link-to 'admin.articles.new' class="admin-article-list__new"}}
      New Article
    {{/link-to}}
    <div class="admin-article-list">
      {{#each model as |article|}}
        {{#link-to 'admin.articles.edit' article class="admin-article-list__link" }}
          {{ article.id }}
        {{/link-to}}
      {{/each}}
    </div>
  </section>

  <section class="admin-article">
    {{outlet}}
  </section>
</section>
