
{{!--   <h1>{{model.Key class="article__title"}}</h1>
  <p>{{model.Body class="article__body"}}</p> --}}

<div class="container">
  <h1 class="article__title"> Some Title</h1>
</div>
<div class="article__body">
  <div class="container">
  <p >Salvia gastropub viral craft beer, sartorial before they sold out cronut. Leggings organic hella mustache, cred meditation ennui vinyl Wes Anderson Austin. Pickled yr PBR&B banh mi. Retro Helvetica readymade blog 3 wolf moon tilde. You probably haven't heard of them pork belly Austin occupy. Try-hard ennui flannel, mixtape +1 YOLO 90's stumptown tilde PBR&B vegan drinking vinegar Godard hashtag salvia. Forage Brooklyn semiotics, pop-up lumbersexual Austin chambray kogi bitters beard vegan ennui leggings.


Literally cornhole sartorial, lo-fi organic drinking vinegar retro blog post-ironic Pitchfork cliche. Letterpress vinyl 8-bit fingerstache, mlkshk bicycle rights DIY VHS Etsy try-hard. Swag distillery four loko, roof party asymmetrical mustache Blue Bottle yr. Stumptown sriracha leggings, tilde freegan artisan keffiyeh farm-to-table heirloom food truck deep v authentic brunch fap raw denim. Carles pickled 3 wolf moon, Austin quinoa mustache hoodie shabby chic cred distillery forage viral Pinterest stumptown. Echo Park semiotics Neutra Wes Anderson. Locavore squid four dollar toast master cleanse.

PBR&B lo-fi craft beer trust fund, VHS Helvetica chia pour-over single-origin coffee narwhal leggings. Craft beer cornhole paleo, retro migas taxidermy messenger bag aesthetic you probably haven't heard of them lo-fi swag iPhone small batch Bushwick. Actually mumblecore sustainable plaid, tousled gastropub jean shorts. Neutra swag single-origin coffee, +1 meh 90's typewriter cardigan mlkshk ennui selfies jean shorts put a bird on it street art. Swag asymmetrical synth 90's normcore. Butcher taxidermy next level vegan Carles cliche polaroid gentrify Portland squid direct trade, try-hard heirloom. Craft beer deep v Austin aesthetic locavore, drinking vinegar viral banjo twee iPhone photo booth.

Try-hard chillwave locavore chia gastropub cronut. 90's keffiyeh Portland, cornhole skateboard synth Odd Future cronut tousled. Biodiesel drinking vinegar taxidermy pickled umami, hoodie heirloom cold-pressed tofu. Ennui Austin dreamcatcher post-ironic plaid, meggings flexitarian kale chips bicycle rights Marfa. Flexitarian Shoreditch post-ironic tofu, squid brunch chambray heirloom Brooklyn fingerstache Wes Anderson keytar cornhole. Chillwave blog wayfarers tilde mixtape, Banksy mlkshk tote bag plaid semiotics heirloom vinyl deep v retro Schlitz. Migas Echo Park photo booth twee paleo keytar, chillwave American Apparel keffiyeh street art.</p>

  </div>
</div>
  <button class="btn btn-danger pull-right" {{action 'delete'}}>Delete</button>
  <button class="btn btn-success pull-right">Edit</button>

