<h3>Article List</h3>
{{#link-to 'articles.new'}}
<button class="btn btn-success">New Article</button>
{{/link-to}}
<p>
{{#each article in model }}
<h7>{{#link-to 'article' article }}{{ article.Key }}{{/link-to}}</h7>
{{/each}}
</p>
