<nav>
  <ul>
    <li>
      {{#link-to 'admin.articles' class="navbar__item"}}
        Articles
      {{/link-to}}
    </li>
  </ul>
  <ul>
    <li>
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        {{#link-to 'login'}}Login{{/link-to}}
      {{/if}}
    </li>
  </ul>
</nav>
<div class="application__content">
  {{outlet}}
</div>


<footer>
  <img class="footer__logo" src="assets/images/logo-dark.png">
  <span class="footer__text">is proudly open-source software © 2015</span>
</footer>

