{{#if session.isAuthenticated}}
<nav>
  <ul class="menu">
    <li>
      {{#link-to 'admin.articles' class="navbar__item"}}
        Articles
      {{/link-to}}
    </li>
    <li>
      <a {{ action 'invalidateSession' }}>Logout</a>
    </li>
  </ul>
</nav>
{{/if}}

{{outlet}}

<footer class="footer">
  <span class="footer__slogan">
    powered by <img class="footer__slogan__logo" src="assets/images/logo-dark.png">
  </span>
  {{#if session.isAuthenticated}}
    <a {{ action 'invalidateSession' }}>Logout</a>
  {{else}}
    {{#link-to 'admin.login'}}Login{{/link-to}}
  {{/if}}
</footer>

