
<div class="col-md-2">
  <ul class="list-group">
    {{#link-to 'articles.new' tagName='li' class="list-group-item articles__new"}}
      New Article
    {{/link-to}}

    {{#each article in model }}
      {{#link-to 'article' article tagName='li' class="list-group-item"}}
        {{ article.id }}
      {{/link-to}}
    {{/each}}
  </ul>
</div>

<div class="col-md-10">
  {{outlet}}
</div>
