<section class="articles">
  <h1 class="articles__heading">Articles</h1>
  {{#each model as |article|}}
    <article class="articleExcerpt">
      <header>
        <h1 class="articleExcerpt__title">{{#link-to 'read-article' article}} {{article.id}} {{/link-to}}</h1>
      </header>
      <section class="articleExcerpt__blurp">
        <p>{{text-blurp text=article.body}} </p>
        {{#link-to 'read-article' article rel="Read More!"}}Read more...{{/link-to}}
      </section>
    </article>
  {{/each}}
</section>
