<section class="articles">
  <header class="articles__header">
  </header>
  <section class="articles__body">
    {{#each model as |article|}}
      <article class="articleExcerpt">
        <header>
          <h1 class="articleExcerpt__title">{{#link-to 'read-article' article}} {{article.id}} {{/link-to}}</h1>
        </header>
        <section class="articleExcerpt__blurp">
          <p>{{text-blurp text=article.articleBody.body}} </p>
          {{#link-to 'read-article' article rel="Read More!"}}Read more...{{/link-to}}
        </section>
      </article>
    {{/each}}
  </section>
</section>
