<div class="container">
  {{#each model as |article|}}
    <div>
      <h1 class="article__title"> {{article.id}}</h1>
    </div>
    <div class="article__body">
      {{format-markdown article.body}}
    </div>
  {{/each}}
</div>
