{{#each model as |article|}}
  <div class="article">
    <h1 class="article__title"> {{article.id}}</h1>
    <div class="article__body">
      {{format-markdown article.body}}
    </div>
  </div>
{{/each}}
