{{banner-nav}}
<div class="content articles">
  {{#each model as |article|}}
    <section class="article__excerpt">
      <h1 class="article__excerpt__title">{{#link-to 'read-article' article}} {{article.id}} {{/link-to}}</h1>
      <p class="article__excerpt__blurp">
        {{text-blurp text=article.body}}
        {{#link-to 'read-article' article class="article__excerpt__read-more" rel="Read More!"}}Read more...{{/link-to}}
      </p>
    </section>
  {{/each}}
</div>

