<article class="article">
  <header>
    <h1 class="article__title">{{model.id}}</h1>
  </header>
  <section class="article__body">
    {{format-markdown model.articleBody.body }}
  </section>
</article>
