{{#each model as |article|}}
  <article class="article">
    <header>
      <h1 class="article__title">{{#link-to 'read-article' article}} {{article.id}} {{/link-to}}</h1>
    </header>
    <section class="article__blurp">
      <p>{{text-blurp text=article.body}} </p>
      {{#link-to 'read-article' article rel="Read More!"}}Read more...{{/link-to}}
    </section>
  </article>
{{/each}}
